* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.container {
    height: 100vh;

    display: grid;
    grid-template:
    "menu group-name class-name" 0.5fr
    "menu invite-people main" 2fr
    "menu general main" 2fr
    "menu classes main" 2fr
    "menu lobby main" 2fr
    "menu staff main" 2fr
    "menu profile main" 0.5fr /
    0.2fr 1fr 3fr;
}

.menu {
    grid-area: menu;

    background-color: grey;
}

.group-name {
    grid-area: group-name;

    background-color: aqua;
}

.class-name {
    grid-area: class-name;

    background-color: blueviolet;
}

.invite-people {
    grid-area: invite-people;

    background-color: rgb(113, 113, 247);
}

.main {
    grid-area: main;

    background-color: rgb(226, 142, 142);

}

.general {
    grid-area: general;

    background-color: rgb(65, 202, 109);
}

.classes {
    grid-area: classes;

    background-color: rgb(182, 206, 115);
}

.lobby {
    grid-area: lobby;

    background-color: rgb(79, 79, 97);
}

.staff {
    grid-area: staff;

    background-color: aqua;
}

.profile {
    grid-area: profile;

    background-color: rgb(247, 141, 12);
}

@media screen and (max-width: 800px) {
    .container {
      grid-template:
    "menu class-name" 0.5fr
    "menu main" 2fr
    "menu main" 2fr
    "menu main" 2fr
    "menu main" 2fr
    "menu main" 2fr
    "menu main" 0.5fr /
    0.2fr 3fr;
    }

    .group-name {
        display: none;
    }

    .invite-people {
        display: none;
    }

    .general {
        display: none;
    }

    .classes {
        display: none;
    }

    .lobby {
        display: none;
    }

    .staff {
        display: none;
    }

    .profile {
        display: none;
    }


   }
